# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#executable
Game

#mac crap
.DS_Store
xcode/birdyShmup.xcodeproj/xcuserdata
xcode/birdyShmup.xcodeproj/project.xcworkspace/xcuserdata
xcode/Release/*.dmg
